<div class="men">
    <div id="formDelete" class="new_product_form">
        <h2>Delete Product</h2>
        <form id="manageForm" role="form">
            <div class="row_6">
                <div class="form-group">
                    <label for="lbName">Product Name:</label>
                    <input name="ProductName" type="text" class="text form-control" placeholder="Name" value="{{product.product_name}}" disabled />
                    <input name="ProductID" type="hidden" class="text form-control" value="{{product._id}}" />
                </div>
                <div class="form-group">
                    <label for="lbPrice">Product Price:</label>
                    <input name="ProductPrice" type="number" placeholder="Price" class="text form-control" value="{{product.product_price}}" disabled />
                </div>
                <div class="form-group">
                    <label for="lbDes">Product Description:</label>
                    <textarea name="ProductDesc" placeholder="Description" class="form-control" disabled>{{product.product_description}}</textarea>
                </div>
                <div class="form-group">
                    {{#each product.product_picture}}
                        <div class="col_1_of_single1 span_1_of_single1">
                            <img src="https://www.dropbox.com/s/{{this}}?dl=1" alt="" class="img-responsive" />
                        </div>
                    {{/each}}
                </div>
            </div>
            <input name="submit" type="submit" id="submit" value="Delete Product">
            <div class="clearfix"></div>
        </form>
    </div>
</div>