<div class="men">
    <div id="formEdit" class="new_product_form">
        <h2>Edit Product</h2>
        <form id="manageForm" role="form">
            <div class="row_6">
                <div class="form-group">
                    <label for="lbName">Product Name:</label>
                    <input name="ProductName" type="text" class="text form-control" placeholder="Name" value="{{product.product_name}}" />
                    <input name="ProductID" type="hidden" class="text form-control" value="{{product._id}}" />
                </div>
                <div class="form-group">
                    <label for="lbPrice">Product Price:</label>
                    <input name="ProductPrice" type="number" placeholder="Price" class="text form-control" value="{{product.product_price}}" />
                </div>
                <div class="form-group">
                    <label for="lbDes">Product Description:</label>
                    <textarea name="ProductDesc" placeholder="Description" class="form-control">{{product.product_description}}</textarea>
                </div>
            </div>
            <input name="submit" type="submit" id="submit" value="Save Product">
            <div class="clearfix"></div>
        </form>
    </div>
    <div id="ImageEdit" class="new_product_form">
        <h2>Edit Product Image</h2>
        <form id="imageForm" role="form">
            <div class="row_6">
                <div class="form-group">
                    <label for="lbImage2">Add New Product Image :</label>
                    <input type="file" style="width:100%" name="image1" accept="image/*" />
                    <input name="ProductID" type="hidden" class="text form-control" value="{{product._id}}" />
                </div>
            </div>
            <input name="submitImage" type="submit" id="addImage" value="Save Image">
            <div class="clearfix"></div>
        </form>
    </div>
    <div class="span_2">
        <form id="imageForm" role="form">
            <div class="row_6">
                <div class="form-group">
                    <input name="ProductID" type="hidden" class="text form-control" value="{{product._id}}" />
                    {{#each product.product_picture}}
                        <div class="col_1_of_single1 span_1_of_single1">
                            <img id="productImage1" src="https://www.dropbox.com/s/{{this}}?dl=1" alt="" class="img-responsive" />
                            <input class="imageCheckbox" name="{{this}}" type="checkbox" id="{{this}}" />
                        </div>
                    {{/each}}
                </div>
            </div>
            <input name="submitImage" type="submit" id="deleteImage" value="Delete Image">
            <div class="clearfix"></div>
        </form>
    </div>
</div>