
    <ul class="grid_2">
        <li>
            <a href="#detail/{{products.1._id}}">
                <img src="https://www.dropbox.com/s/{{products.1.product_picture.[0]}}?dl=1" class="img-responsive" alt="" />
                <span class="btn5">{{products.1.product_price}}</span>
                <p>{{products.1.product_name}}</p>
            </a>
        </li>
        <li>
            <a href="#detail/{{products.2._id}}">
                <img src="https://www.dropbox.com/s/{{products.2.product_picture.[0]}}?dl=1" class="img-responsive" alt="" />
                <span class="btn5">{{products.2.product_price}}</span>
                <p>{{products.2.product_name}}</p>
            </a>
        </li>
        <li>
            <a href="#detail/{{products.3._id}}">
                <img src="https://www.dropbox.com/s/{{products.3.product_picture.[0]}}?dl=1" class="img-responsive" alt="" />
                <span class="btn5">{{products.3.product_price}}</span>
                <p>{{products.3.product_name}}</p>
            </a>
        </li>
        <li>
            <a href="@detail/{{products.4._id}}">
                <img src="https://www.dropbox.com/s/{{products.4.product_picture.[0]}}?dl=1" class="img-responsive" alt="" />
                <span class="btn5">{{products.4.product_price}}</span>
                <p>{{products.4.product_name}}</p>
            </a>
        </li>
        <li class="last1">
            <a href="#detail/{{products.5._id}}">
                <img src="https://www.dropbox.com/s/{{products.5.product_picture.[0]}}?dl=1" class="img-responsive" alt="" />
                <span class="btn5">{{products.5.product_price}}</span>
                <p>{{products.5.product_name}}</p>
            </a>
        </li>
    </ul>
